$ncgr-assets-prefix: 'path/to/public/nachiguro/assets/';
@import '../node_modules/nachiguro/src/nachiguro';

// Skeleton
$base-color: var(--color-tertiary-grouped-background);
$highlight-color: var(--color-secondary-grouped-background);

.skeleton {
  animation: linear-gradient 1.2s ease-in-out infinite;
  background-color: $base-color;
  background-image: linear-gradient(
    90deg,
    $base-color,
    $highlight-color,
    $base-color
  );
  background-size: 12rem 100%;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 1;
  width: 100%;
}

@keyframes linear-gradient {
  0% {
    background-position: -12rem 0;
  }
  100% {
    background-position: calc(12rem + 100%) 0;
  }
}

.skeleton-heading {
  &.-m {
    height: 1.25rem;

    @include mq-boundary-up(s) {
      height: 1.875rem;
    }
  }
}

// user-card
.user-card {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.user-card__container {
  margin-top: 1.5rem;
}

// Header
.Header-logo {
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.Header-logo-image {
  width: 5rem;

  @media (prefers-color-scheme: dark){
    g,
    path {
      fill: var(--color-label);
    }
  }
}

// Home
.Home-page {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Home-heading {
  margin-bottom: 1rem;
}

// ItemDetail
.ItemDetail-page {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.ItemDetail-heading {
  margin-bottom: 1rem;
}

// ProductDetail
.ProductDetail-page {
  padding-bottom: 1.5rem;
}

.ProductDetail-product-card {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.ProductDetail-breadcrumbs {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ProductDetail-description {
  padding-top: 1rem;
  padding-bottom: 1rem;
}