$ncgr-assets-prefix: 'path/to/public/nachiguro/assets/';
@import '../node_modules/nachiguro/src/nachiguro';

// Header
.Header-logo {
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.Header-logo-image {
  width: 5rem;

  @media (prefers-color-scheme: dark){
    g,
    path {
      fill: var(--color-label);
    }
  }
}

// Home
.Home-page {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Home-heading {
  margin-bottom: 1rem;
}

// ProductDetail
.ProductDetail-page {
  padding-bottom: 1.5rem;
}

.ProductDetail-product-card {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.ProductDetail-breadcrumbs {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ProductDetail-description {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ProductDetail-user-card {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}